body
{
  background: rgb(95, 95, 95);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header
{
  background-color: black;
  background-image:url("image/Gorillaz.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  height: 300px;
}
header a
{
  text-decoration: solid;
  color: white;
  
}
header a:visited
{
  color: white;
  
}
nav ul
{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
nav li
{
  display: inline-block;
  margin-right: 20px;
}

header .logo a
{
  background-image: url("image/logo.png");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  height: 110px;
  top: -10px;
  width: 300px;
}

.feature
{
  background: white;
  color: gray;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.feature figure
{
  margin: auto;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
}

.feature figure img
{
  border: 1px solid white;
  width: 200px;
  border-radius: 50%;
  box-shadow: grey 0 0 10px;
}


footer
{
  background: black;
  color: gray;
  padding: 20px 20px;
  text-align: center;
  font-size: 10px;
}
